# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
env.bak/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
Thumbs.db
desktop.ini
__MACOSX/

# Environment variables
.env
.env.*

# Logs
*.log

# Pytest cache
.pytest_cache/

# Byte-compiled
*.pyc
